//Color

$black: black;
$white: white;
// Blue color
$blue-50:  #f1f9fa;
$blue-100: #dceef1;
$blue-200: #bddee4;
$blue-300: #8fc6d1;
$blue-400: #5aa5b6;
$blue-500: #418fa2; //orginal
$blue-600: #377183;
$blue-700: #325d6c;
$blue-800: #2f4e5b;
$blue-900: #2b424e;
$blue-950: #182b34;


// Red color
$red-50: #fff0f0;
$red-100: #ffe2e3;
$red-200: #ffcacd;
$red-300: #ff9fa3;
$red-400: #ff6972;
$red-500: #ff4858; //original
$red-600: #ed112f;
$red-700: #c80827;
$red-800: #a80928;
$red-900: #8f0c29;
$red-950: #500110;

//grey
$gray-50: #f6f6f6;
$gray-100: #e7e7e7;
$gray-200: #d1d1d1;
$gray-300: #b0b0b0;
$gray-400: #888888;
$gray-500: #6d6d6d;
$gray-600: #5d5d5d;
$gray-700: #4f4f4f;
$gray-800: #454545;
$gray-900: #373737;
$gray-950: #262626;



//spacing

$grid-unit: calc(.4rem/1.6);
$spacing-1: 1 * $grid-unit;
$spacing-2: 2 * $grid-unit;
$spacing-3: 3 * $grid-unit;
$spacing-4: 4 * $grid-unit;
$spacing-5: 5 * $grid-unit;
$spacing-6: 6 * $grid-unit;
$spacing-7: 7 * $grid-unit;
$spacing-8: 8 * $grid-unit;
$spacing-9: 10 * $grid-unit;
$spacing-10: 12 * $grid-unit;
$spacing-11: 16 * $grid-unit;
$spacing-12: 20 * $grid-unit;
$spacing-13: 24 * $grid-unit;
$spacing-14: 34 * $grid-unit;
$spacing-15: 40 * $grid-unit;
$spacing-16: 48 * $grid-unit;
$spacing-17: 56 * $grid-unit;
$spacing-18: 64 * $grid-unit;





