@import '../../components/partials/variables';
@import '../../components/partials/mixins';

.container {
    //max-width: 1240px;
    margin: 0 auto;
    .hero {
        height: 90vh;
    }
    .cta_section {
        background-color: $gray-100;
        padding: $spacing-8 $spacing-8;
        display: flex;
        justify-content: center;
        gap: $spacing-8;
        flex-wrap: wrap;
        button {
            @include button-2
        }
        h3 {
            @include display-xs-regular;
            color: $gray-950;
        }
    }
    .about_section {
        background-color: $white;
        padding: $spacing-12 $spacing-4;
        .content {
            max-width: 1240px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $spacing-10;
            h3 {
                @include heading-1($gray-950);
            }
            .points {
                display: flex;
                gap: $spacing-8;
                flex-wrap: wrap;
                justify-content: center;
                .point {
                    display: flex;
                    flex-direction: column;
                    max-width: 300px;
                    align-items: center;
                    gap: $spacing-3;
                    .icon {
                        font-size: 48px;
                    }
                    h4 {
                        @include text-md-bold;
                        color: $gray-950;
                    }
                    .text {
                        @include text-sm-regular;
                        color: $gray-700;
                        text-align: center;
                    }
                }
            }
        }
    }
    .mission {
        position: relative;
        padding: $spacing-12 $spacing-4;
        overflow: hidden;
        img {
            position: absolute;
            object-fit: cover;
            height: 100%;
            inset: 0;
            width: 100%;
            z-index: -1;
        }
        .content {
            max-width: 1240px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $spacing-10;
            h3 {
                @include heading-1($white);
            }
            div {
                @include text-md-regular;
                color: $gray-100;
                width: 70%;
                @media screen and (max-width:800px) {
                    width: 90%;
                }
            }
        }
    }
    .partners {
        background-color: $white;
        padding: $spacing-12 $spacing-4;
        .content {
            margin: 0 auto;
            max-width: 1240px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $spacing-10;
            h3 {
                @include heading-1($gray-950);
            }
            .logo_box {
                display: flex;
                gap: $spacing-8;
                .logo {
                    height: 125px;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
    .testimonials {
        padding: $spacing-12 $spacing-4;
        background-color: $gray-100;
        .content {
            max-width: 1240px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $spacing-10;
            h3 {
                @include heading-1($gray-950);
            }
            .testimonial_box {
                //width: 80%;
            }
        }
    }
}

.hero_card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $spacing-10;
    justify-content: center;
    background: transparent;
    overflow: hidden;
    align-items: center;
    height: 100%;
    width: 100%;
    &::after {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: rgba($black,0.4);
    }
    img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -2;
    }
    button {
        @include button-1;
    }
    h2 {
        @include display-lg-regular;
        max-width: 1240px;
        width: 70%;
        text-transform: uppercase;
        color: $white;
    }
    h3 {
        @include display-xs-regular;
        color: $white;
        width: 70%;
        max-width: 1240px;
    }
}

.testimonial {
    padding: $spacing-10 0;
    display: flex;
    gap: $spacing-8;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &_photo {
        border-radius: 100%;
        height: 150px;
        flex: 0 0 150px;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &_text {
        display: flex;
        flex-direction: column;
        gap: $spacing-4;
        width: 60%;
        @media screen and (max-width:800px) {
           // width: 80%;
        }
        div:nth-child(1) {
            @include text-md-regular;
            color: $gray-950;
        }
        div:nth-child(2) {
            @include text-sm-regular;
            color: $gray-700;
        }
    }
}

@media screen and (max-width:800px ) {
    .container .hero {
        height: 65vh;
    }
    .hero_card {
        h2 {
            @include display-md-regular;
            width: 100%
        }
        h3 {
            @include text-lg-regular;
            width: 70%;
        }
    }
}
