@import '../../components/partials/variables';
@import '../../components/partials/mixins';

.container {
    display: flex;
    padding: $spacing-4;
    max-width: 124rem;
    @media screen and (min-width:1000px) {
        gap: $spacing-12;
    }
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.searchBar {
    //flex: 1;
    display: flex;
    align-items: center;
    margin-bottom: $spacing-4;

    .searchInput {
        width: 100%;
        padding: $spacing-2;
        border: 1px solid $gray-300;
        border-radius: $spacing-1;
        @include text-sm-regular;
        margin-right: $spacing-2;
    }

    .searchIcon {
        cursor: pointer;
        color: $blue-500;
        font-size: 1.5rem;
    }
}

.newsContainer {
    //flex: 3;
    display: flex;
    flex-direction: column;
    gap: $spacing-8;
}

.sidebar {
    flex: 1;
    background-color: $gray-50;
    padding: $spacing-8 $spacing-4;
    border-radius: $spacing-1;
    display: flex;
    flex-direction: column;
    gap: $spacing-8;

    h4 {
        color: $blue-500;
        @include text-md-regular;
    }

    ul {
        list-style-type: none;
        @include text-sm-regular;
        padding: 0;

        li {
            margin: $spacing-1 0;
        }
    }
}

.newsItem {
    display: flex;
    flex-direction: column;
    background-color: $white;
    //border-radius: $spacing-1;
    //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: $spacing-4;

    .entryHeader {
        margin-bottom: $spacing-4;
    
        .entryTitle {
            font-size: 1.5rem;
            @include text-lg-regular;
            color: $blue-500;
            margin-bottom: $spacing-2;
        }

        .entryMeta {
            list-style: none;
            padding: 0;
            @include text-xs-regular;
            color: $gray-700;

            li {
                display: inline;
                margin-right: $spacing-2;

                .entryDate {
                    font-weight: bold;
                }
            }
        }
    }

    .entryContent {
        p {
            color: $gray-700;
            max-width: 80%;
            @include text-xs-regular;
            margin: $spacing-2 0;
        }
    }
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
        padding: $spacing-2;
    }
    .newsItem {
        .entryContent {
            videoEmbed {
                max-width: 100%;
            }
        }

        iframe {
            max-width: 100%;  
        }
    }
}