@import '../../components/partials/variables';
@import '../../components/partials/mixins';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.container {
    position: fixed;
    inset: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;

    .content {
        background-color: $white;
        //border-radius: $spacing-2;
        padding: $spacing-10 $spacing-8;
        max-width: calc(124rem/1.6);
        position: relative;
        height: 100dvh;
        width: 100%;       
        display: flex;
        flex-direction: column;
        gap: $spacing-8;
        overflow-y: auto;


        .closeButton {
            @include close_button;
        }

        h1 {
            @include display-xs-regular;
            color: $gray-900;
            align-self: center;
            max-width: 90%;
            text-transform: uppercase;
            @media screen and (max-width:768px) {
                @include text-xl-medium;
            } 
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            //padding: $spacing-8;
            justify-content: center;
            gap: 30px;
        }

        .card {
            background-color: white;
            border-radius: $spacing-1;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            padding: $spacing-7;
            width: calc(50% - $spacing-7);
            min-width: calc(30rem/1.6);
            display: flex;
            flex-direction: column;
            transition: all 0.3s ease;
            position: relative;
            overflow: hidden;

            @media screen and (max-width:768px) {
                width: 100%;
                min-width: auto;
            } 

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 4px;
                background-color: $blue-500;
                //background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
            }

            // &:hover {
            //     transform: translateY(-10px);
            //     box-shadow: 0 20px 35px rgba(108, 99, 255, 0.2);
            // }

            .cardHeader {
                @include display-sm-bold;
                margin-bottom: $spacing-6;
                color: $gray-900;
            }

            .cardContent {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: $spacing-6;
                margin-bottom: $spacing-7;
            }

            .cardItem {
                display: flex;
                align-items: center;

                svg {
                    font-size: 24px;
                    color: $blue-500;
                    margin-right: $spacing-4;
                    transition: transform 0.3s ease;
                }

                &:hover svg {
                    transform: scale(1.2) rotate(5deg);
                }

                .cardItemText {
                    display: flex;
                    flex-direction: column;

                    .cardItemLabel {
                        @include text-xs-semi-bold;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        color: $gray-400;
                        margin-bottom: 2px;
                    }

                    .cardItemValue {
                        @include text-md-semi-bold;
                        color: $gray-900;
                    }
                }
            }

            .registerBtn {
                @include button-1;
                @include text-md-regular;
                transition: all 0.3s ease;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
}
