@import '../../components/partials/variables';
@import '../../components/partials/mixins';


.container {
    position: fixed;
    inset: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    
    .content {
        background-color: $white;
        border-radius: $spacing-4;
        padding: $spacing-10 $spacing-8;
        max-width: 62rem;
        position: relative;
        max-height: 95vh;
        overflow-y: scroll;
        width: 90%;       
        display: flex;
        flex-direction: column;
        gap: $spacing-8;
        .close_button {
            @include close_button;
        }
        h1 {
            @include display-xs-regular;
            color: $gray-900;
            max-width: 90%;
            text-transform: uppercase;
            @media screen and (max-width:768px) {
                @include text-xl-medium;
            } 
        }
        .cards {
            display: flex;
            flex-direction: column;
            gap: $spacing-4;
            align-items: stretch;
            flex: 1;
            @media screen and (max-width:768px) {
                overflow-x: scroll;
            } 
            .card {
                display: flex;
                gap: $spacing-4;
                justify-content: space-between;
                .details {
                    display: flex;
                    border: 1.5px solid $gray-200;
                    border-radius: $spacing-1;
                    gap: $spacing-3;
                    justify-content: space-between;
                    flex: 1;
                    align-items: stretch;
                    padding: $spacing-3;
                    @include text-sm-regular;
                    color: $gray-800;
                    .level,.location{
                        @include text-md-medium;
                        text-transform: uppercase;
                        color: $gray-900;
                    }
                    div {
                        display: flex;
                        text-wrap: nowrap;
                        align-items: center;
                        gap: $spacing-1;
                        &:not(:last-child){
                            padding-right: $spacing-2;
                            border-right: 4px dotted $gray-400;
                        }
                        svg {
                            @include text-lg-regular;
                            color: $blue-500;
                        }
                    }
                } 
                .cta {
                    @include button-1;
                }
            }
        }
    }
}