// src/components/Carousel.module.scss

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .carouselItems {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .carouselItem {
    min-width: 100%;
    box-sizing: border-box;
    //border: 1px solid #dee2e6;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  .carouselItem.active {
    opacity: 1;
  }
  
  .navButton {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  
    &:first-of-type {
      left: 0;
    }
  
    &:last-of-type {
      right: 0;
    }
  }
  
  .navButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .dots {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .dot.activeDot {
    background-color: #717171;
  }
  